:root {
      --brand-color: #434455;
      --brand-links-hf : #404bbf;
      --text-color: #2E2F42;
      --text-color-bg: #FFFFFF;
      --logo-color: #4D5AE5;
      --complementary-color: #F4F4FD;
      --portfolio-btn: #e7e9fc;
      --customers-icons: #8E8F99;
      }

body {
  font-family: Roboto, sans-serif ;
  color: var(--brand-color);
    background-color: var(--text-color-bg);
}

button {
  cursor: pointer
}

/**
  |============================
  | Resets
  |============================
*/

h1,h2,h3,h4,h5,h6,p {
margin: 0;
}

ul,
ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/**
  |============================
  | Header
  |============================
*/

.logo {
  font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.logo {
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.logo-studio{
  color: var(--text-color);
}

.header {
  border-bottom: 1px solid var(--portfolio-btn);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.container {
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
 display: flex;
 gap: 40px;
}

.header-item{
  
}

.header-link{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  color: var(--brand-links-hf);
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after {
  content:'' ;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--brand-links-hf);
  border-radius: 2px;
}

.header-link:hover {
  color: var(--brand-links-hf);
}
.header-link:focus {
  color: var(--brand-links-hf);
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
 display: flex;
 gap: 40px;
}

.address-link {
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--brand-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
  color: var(--brand-links-hf);
  }
  
.address-link:focus {
 color: var(--brand-links-hf);
}

/**
  |============================
  | Block 1
  |============================
*/

.hero{
background-color: var(--text-color);
padding: 188px 0;
margin: 0 auto;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
}

.hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-color-bg);
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}

.hero-btn {
  background-color: var(--logo-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-bg);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover {
  background-color: var(--brand-links-hf);
}
.hero-btn:focus {
background-color: var(--brand-links-hf);
}

/**
  |============================
  | Block 2
  |============================
*/

.peculiarities {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.peculiarities-list {
  display: flex;
  gap: 24px;
}

.peculiarities-icons{
  fill: none;
  stroke: var(--text-color);
}

.peculiarities-item {
width: calc((100% - 72px) / 4);
}

.peculiarities-caption {
margin-bottom: 8px;
}

.peculiarities-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.peculiarities-parph {
line-height: 1.5;
letter-spacing: 0.02em;
}

/**
  |============================
  | Block 3
  |============================
*/

.activity {
padding-bottom: 120px;
}

.activity-title {
margin-bottom: 72px;
}

.activity-list {
  display: flex;
  gap: 24px;
}

.activity-item {
width: calc((100% - 48px) / 3);
}

.activity-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
}

/**
  |============================
  | Block 4
  |============================
*/

.team{
  background-color: var(--complementary-color);
  padding: 120px 0;
}

.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--text-color);
margin-bottom: 72px;
}

.team-list {
display: flex;
gap: 24px;
}

.team-item {
background-color: var(--text-color-bg);
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}

.team-info {
padding: 32px 16px;
}

.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-parph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/**
  |============================
  | Block 5
  |============================
*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: var(--text-color);
  margin-bottom: 72px;
  line-height: 40px;  
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;

}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  color:var(--customers-icons);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--customers-icons);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border-color: var(--brand-links-hf);
  color: var(--brand-links-hf);
}

.customers-link:focus {
  border-color: var(--brand-links-hf);
  color: var(--brand-links-hf);
}

.customers-icons {
  fill: currentColor;
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
  background-color: var(--text-color);
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-studio {
color: var(--complementary-color);}

.footer-parph {
  line-height: 1.5;
    color: var(--complementary-color);
    letter-spacing: 0.02em;
    max-width: 264px;
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio {
padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--complementary-color);
  padding: 12px 24px;
  border: 1px solid var(--portfolio-btn);
  border-radius: 4px;
}

.portfolio-btn:hover {
  color: var(--text-color-bg);
    background-color: var(--brand-links-hf);
    border: 1px solid transparent;
}
.portfolio-btn:focus {
 color: var(--text-color-bg);
background-color: var(--brand-links-hf);
border: 1px solid transparent;
}

.projects-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.projects-item {
width: calc((100% - 48px) / 3);
}

.project-container {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-btn);
  border-top: none;
}



.projects-caption {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--text-color);
margin-bottom: 8px;
}

.projects-parph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);

}